# Open WebUI
# Generate with: openssl rand -hex 32
OPEN_WEBUI_SECRET_KEY=

# Hermes Agent
OPEN_WEBUI_API_KEY=<Settings - Account - API key of Open WebUI>
DISCORD_BOT_TOKEN=<Bot - Token>
DISCORD_ALLOWED_USERS=<User ID 1>,<User ID 2>
DISCORD_ALLOWED_CHANNELS=<Channel ID 1>,<Channel ID 2>
DISCORD_HOME_CHANNEL=<Home Channel ID>
DISCORD_HOME_CHANNEL_NAME=general
