ragflow:
  host: ${RAGFLOW_HOST:-0.0.0.0}
  http_port: 9380
admin:
  host: ${RAGFLOW_HOST:-0.0.0.0}
  http_port: 9381
mysql:
  name: '${MYSQL_DBNAME:-rag_flow}'
  user: '${MYSQL_USER:-root}'
  password: '${MYSQL_PASSWORD:-infini_rag_flow}'
  host: '${MYSQL_HOST:-ragflow-mysql}'
  port: ${MYSQL_PORT:-3306}
  max_connections: 900
  stale_timeout: 300
  max_allowed_packet: ${MYSQL_MAX_PACKET:-1073741824}
minio:
  user: '${MINIO_USER:-rag_flow}'
  password: '${MINIO_PASSWORD:-infini_rag_flow}'
  host: '${MINIO_HOST:-ragflow-minio}:9000'
  bucket: '${MINIO_BUCKET:-}'
  prefix_path: '${MINIO_PREFIX_PATH:-}'
es:
  hosts: 'http://${ES_HOST:-ragflow-es01}:9200'
  username: '${ES_USER:-elastic}'
  password: '${ELASTIC_PASSWORD:-infini_rag_flow}'
os:
  hosts: 'http://${OS_HOST:-opensearch01}:9201'
  username: '${OS_USER:-admin}'
  password: '${OPENSEARCH_PASSWORD:-infini_rag_flow_OS_01}'
infinity:
  uri: '${INFINITY_HOST:-infinity}:23817'
  postgres_port: 5432
  db_name: 'default_db'
oceanbase:
  scheme: 'oceanbase'
  config:
    db_name: '${OCEANBASE_DOC_DBNAME:-test}'
    user: '${OCEANBASE_USER:-root@ragflow}'
    password: '${OCEANBASE_PASSWORD:-infini_rag_flow}'
    host: '${OCEANBASE_HOST:-oceanbase}'
    port: ${OCEANBASE_PORT:-2881}
seekdb:
  scheme: 'oceanbase'
  config:
    db_name: '${SEEKDB_DOC_DBNAME:-ragflow_doc}'
    user: '${SEEKDB_USER:-root}'
    password: '${SEEKDB_PASSWORD:-infini_rag_flow}'
    host: '${SEEKDB_HOST:-seekdb}'
    port: ${SEEKDB_PORT:-2881}
redis:
  db: 1
  username: '${REDIS_USERNAME:-}'
  password: '${REDIS_PASSWORD:-infini_rag_flow}'
  host: '${REDIS_HOST:-ragflow-redis}:6379'
user_default_llm:
  factory: 'OpenAI'
  api_key: '${RAGFLOW_OPENAI_API_KEY:-sk-litellm-master-key}'
  base_url: '${RAGFLOW_OPENAI_BASE_URL:-http://litellm:4000/v1}'
  default_models:
    chat_model:
      name: '${RAGFLOW_CHAT_MODEL:-gemma4:31b}'
      factory: 'OpenAI'
      api_key: '${RAGFLOW_OPENAI_API_KEY:-sk-litellm-master-key}'
      base_url: '${RAGFLOW_OPENAI_BASE_URL:-http://litellm:4000/v1}'
    embedding_model:
      name: '${RAGFLOW_EMBEDDING_MODEL:-ruri-v3:310m}'
      factory: 'OpenAI'
      api_key: '${RAGFLOW_OPENAI_API_KEY:-sk-litellm-master-key}'
      base_url: '${RAGFLOW_OPENAI_BASE_URL:-http://litellm:4000/v1}'
    rerank_model: '${RAGFLOW_RERANK_MODEL:-ruri-v3-reranker:310m}'
    asr_model: ''
    image2text_model:
      name: '${RAGFLOW_VISION_MODEL:-gemma3:31b}'
      factory: 'OpenAI'
      api_key: '${RAGFLOW_VISION_API_KEY:-sk-litellm-master-key}'
      base_url: '${RAGFLOW_VISION_BASE_URL:-http://litellm:4000/v1}'
